.button
    width: 153px
    height: 32px
    background-color: $color_button
    transition-property: background-color
    transition-duration: 1s
    border: none
    border-style: none
    font-size: 12px
    font-weight: 500
    text-transform: uppercase
    color: $color_text
    &:hover
        outline: none
        background-color: $color_button_dark
    &:focus
        outline: none
    &_main
        width: 300px
        height: 50px
        margin-top: 68px
        font-size: 16px
    &_submit
        width: 100%
        background-image: linear-gradient(45deg, #e93232 0%, #C70101 50%, #2b27f7 100%)
        background-position: 100% 0
        background-size: 200% 200%
        font-weight: 500
        font-size: 16px
        height: 58px
        text-transform: uppercase
        color: $color_text
        border: none
        border-style: none
        transition: .5s all
        &:hover
            background-position: 0 0
        &:active
            outline: none
    &_mini
        width: 135px
        height: 44px
        font-size: 14px







