.btn{
    height: 45px;
    background: linear-gradient(135deg, #36A600, #2a7c01, #1c5201);
    background-position: 0 0;
    background-size: 200% 200%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    transition: 0.5s all;
    &:hover{
        background-position: 100% 0%;
    }
}