.contacts{
    padding: 120px 0 90px 0;
    &__wrapper{
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__description{
        padding-top: 6px;
        .divider{
            margin-top: 0;
        }
        .title{
            text-align: left;
        }
           
    }
    &__text, &__social{
        margin-top: 20px;
    }
    &__link{
        margin-right: 25px;
        img{
            max-width: 40px;
            max-height: 40px;
        }
    }
    &__form{
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 27px;
        label{
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
            top: -9px;
            left: 11px;
        }
    }
    &__input{
        position: relative;
        input{
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: $color-title-darck;
            border: 1px solid #000000;
            box-sizing: border-box;   
            &:focus{
                outline: none;
            }
        }
        
    }
    &__textarea{
        position: relative;
        grid-column: 1 / 3;
        textarea{
            width: 100%;
            height: 100%;
            border: 1px solid #000000;
            resize: none;
            padding: 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            &:focus{
                outline: none;
            }
        }
    }
    &__btn{
        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: $color-title;
    }
    // &__photo{
    //     filter: blur(10px);
    // }
    &__triggers{
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__policy{
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input{
            margin-right: 10px;
        }
    }
}
