.portfolio{
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        .horizontal{
            grid-column: 2 / 4;
        }
        .horizontal-1-3{
            grid-column: 1 /3;
        }
        .horizontal-3-5{
            grid-column: 3 / 5;
        }
    }
    &__item{
        transition: all 0.6s;
        img{
            width: 100%;
        }
        &:hover{
            transform: scale(1.05);

        }
       
    }
    
}