.price{
    margin-top: 60px;
    &-list{
        display: grid;
        margin: 0 auto;
        margin-top: 60px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 1040px;
        &__item{
           
            width: 368px;
            padding-left: 25px;
            &:nth-of-type(even){
                justify-self: end;
            }
            div{
                display: flex;
                justify-content: space-between;
            }
            &__title{
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                color: $color-title-darck;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: $second-color;
                    border-radius: 100%;
                    top: 50%;
                    left: -24px;
                    transform: translateY(-50%);
                   
                }

            }
            &__price-tag{
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                color: $color-title-darck;
            }
            &__description{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: $color-title-darck;
                margin-top: 5px;
            }
        }
    }
}
.divider__price{
    margin-top: 30px;
}