.promo{
    min-height: 100vh;
    position: relative;
    padding-top: 205px;
    background: url(../../img/bg-main.jpg) center (center/cover) no-repeat;
    &__title{
        margin-top: 10px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: $color-title;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $color-title;
    }
    &__btns{
        display: flex;
        margin-top: 25px;
        width: 250px;
    }
    &__link{
        color: $color-title;
        font-weight: 700;
        &:hover{
            color: $color-title;
            text-decoration: none;
        }

    }
}

    