.resume{
    margin-top: 126px;
    &__wrapper{
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column{
        &-title{
            padding-left: 35px;
            text-align: left;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $second-color;
                left: -7px;
                transform: translateY(50%);
            }
            
        }
        ul{
            list-style-type: none;
            li{
                position: relative;
                &:after{
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
        }

    }
    &__item{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 76px;
            height: 1px;
            width: 43px;
            background-color: #000;

        }
        &-head{
            position: relative;
            padding: 45px 0 0 100px;
            h4{
                margin-bottom: 0;
            }
        }
        &-body{
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon{
            position: absolute;
            top: 70px;
            left: 56px;
            @include before_circle;
            &:before{
                top: -12px;
                left: -13px;
            }
            
        }
        &-location{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-body{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
.subtitle_resume{
    text-align: center;
    position: relative;
    @include before_circle;
    &:before{
        left: 50%;
        transform: translateX(-50%);
    }
}
.divider__resume{
    margin: 0 auto;
}
