.sidepanel{
    position: fixed;
    top: 245px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 355px;
    z-index: 2;
    
    &__link{
        img{
            width: 40px;
            height: 40px;
        }
    }
    &__divider{
        width: 3px;
        height: 70px;
        background-color: $main-color;
    }
    &__text{
        font-weight: 700;
        height: 150px;
        width: 25px;
        color: $main-color;
        span{
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-30%, -265%);
        }
    }

}