.skills{
    margin-top: 120px;
    &__wrapper{
        display: grid;
        margin: 60px 10px 0px 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(270px, auto) minmax(270px, auto);
        grid-auto-rows: minmax(270px, auto);
        column-gap: 13px;
        row-gap: 13px;
    }
    &__item{
        padding: 30px;
        border: 1px solid $color-title-darck;
        &-title{
            font-weight:700;
            font-size: 14px;
            line-height: 21px;
            color: $color-title-darck;
            
        }
        &-description{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: $color-title-darck;
            margin-top: 15px;
        }
        &-image{
            height: 95px;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.progress{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 70px;
    column-gap: 45px;
    row-gap: 30px;
    margin-top: 120px;
    &__title{
        @include before_circle;
        position: relative;
        padding-left: 13px;
        line-height: 19px;
        margin-top: 0;
        &:before{
            top: -9px;
            left: 0;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 36px;
        }
        &-percent{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: $color-title-darck;
        }
        &-bar{
            width: 100%;
            height: 14px;
            background-color: $color-bg-bar;
            border-radius: 4px;
            span{
                display: block;
                height: 14px;
                background-color: $second-color;
                border-radius: 4px;
                transition: all 0.6s;
            }
            
        }
        
        
    }
}
