* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    width: 1140px;
    min-height: 750px;
    margin: 82px auto;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(260px, auto));
    grid-auto-rows: 260px;
    gap: 60px;

}

.grid-elem {
    width: 100%;
}
.grid-elem p{
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  
}
.grid-elem:nth-child(9){
    background-color: hotpink;
    grid-column: 1/3;
}
.grid-elem:nth-child(8){
    background-color: silver;
    grid-row-start: 4;
    grid-column: 3;
}
.grid-elem:nth-child(10){
    background-color: deeppink;
    grid-row: 3/5;
    grid-column: 4;
    
}