body{
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 1140px;

}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 500px);
    row-gap: 20px;
    margin: 0 20px;
    margin-top: 20px;
}
.grid__item{
    box-shadow: -2px 2px 18px #858383;
}

