@mixin before_circle{
    &:before{
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background: $second-color;
        z-index: -1;
        top: -25%;
        left: 437px;
        border-radius: 100%;
    }
}