@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'variables';
@import 'mixins';

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';