@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'variables';
@import 'mixins';

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.divider{
    width: 60px;
    height: 3px;
    background-color: $second-color;
    margin-top: 25px;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/_portfolio';
@import 'blocks/_price';
@import 'blocks/_contacts';
@import 'blocks/_media';